.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 50px;
  column-gap: 10px;
  border: 2px solid black;
  margin-top: 20px;
  background-color: hsl(180, 100%, 20%);
  font-size: 25px;
}

@media (max-width: 600px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
  }
}

@media (max-width: 1024px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: 10px;
    padding: 5px;
  }
}

.list__item {
  word-break: break-all;
  background-color: #ffffff;
  list-style: none;
  border: 1px solid black;
  padding: 5px;
  align-self: center;
  width: 300px;
}
@media (max-width: 600px) {
  .list__item {
    text-align: center;
  }
}

.list__item--exDate,
.list__item--dateIn {
  grid-column-start: 2;
  max-width: fit-content;
  margin: 15px;
}
.list__item--exDate {
  grid-column-start: 3;
}
.list__item--timeFlow {
  grid-column-start: 4;
  max-width: fit-content;
  text-align: center;
  margin: 15px;
  background-color: #fff;
  padding: 5px;
  font-size: 20px;
}
.removeButton {
  margin-top: 30px;
  height: 30px;
  width: 30px;
  background-color: #f80101;
  color: #ffffff;
}
@media (max-width: 600px) {
  .removeButton {
    margin-bottom: 30px;
    margin-top: 5px;
    width: 100px;
  }
}
