.container {
  display: grid;
  grid-template-columns: 150px 250px 250px 200px 50px;
  border-bottom: 2px solid #b5acac;
  margin: 10px;
  padding: 5px;
}
@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.list {
  display: grid;
  column-gap: 10px;
  border: 2px solid black;
  margin-top: 20px;
  background-color: hsl(180, 100%, 20%);
  font-size: 20px;
  padding: 0;
}

@media (max-width: 1024px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin: 10px;
    padding: 5px;
  }
}

.list__item {
  word-break: break-all;
  background-color: #ffffff;
  list-style: none;
  border: 1px solid black;
  padding: 5px;
  align-self: center;
  width: 150px;
  font-size: 18px;
  margin: 5px;
}
@media (max-width: 767px) {
  .list__item {
    display: block;
    width: 80vw;
  }
}

.list__item--exDate,
.list__item--dateIn {
  grid-column-start: 2;
  max-width: fit-content;
  margin: 20px;
}

@media (max-width: 767px) {
  .list__item--exDate,
  .list__item--dateIn {
    max-width: 80vw;
  }
}
.list__item--exDate {
  grid-column-start: 3;
}

.list__item--timeFlow {
  grid-column-start: 4;
  max-width: fit-content;
  text-align: center;
  margin: 15px;
  background-color: #fff;
  padding: 5px;
  font-size: 18px;
}

@media (max-width: 767px) {
  .list__item--timeFlow {
    text-align: start;
    max-width: 80vw;
  }
}
.removeButton {
  margin-top: 15px;
  height: 30px;
  width: 30px;
  background-color: #f80101;
  color: #ffffff;
}
@media (max-width: 767px) {
  .removeButton {
    margin-bottom: 30px;
    margin-top: 5px;
    width: 100px;
    align-self: center;
  }
}
