.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 50px;
  background-image: url(https://thumbs.dreamstime.com/z/orange-fruit-fresh-cutting-slicing-image-background-52381569.jpg);
  background-size: cover;
  row-gap: 20px;
  color: #000000;
  font-weight: bold;
}

@media (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 20px;
  }
}

.form__title {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  align-content: center;
}
@media (max-width: 600px) {
  .form__title {
    font-size: 15px;
  }
}
.form__paragraph {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.form__products {
  font-size: 20px;
  padding-left: 10px;
  color: #040404;
}

.form__date {
  font-size: 20px;
  padding-left: 10px;
}

.form__input--text {
  margin-left: 10px;
  font-size: 18px;
  padding: 5px;
  max-width: 200px;
}

.button {
  grid-column-start: 2;
  margin: 0 0 10px 50px;
  font-size: 25px;
  background-color: teal;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 10px;
  max-width: 300px;
  align-self: auto;
}

@media (max-width: 600px) {
  .button {
    width: 100vw;
    margin: 10px 0;
  }
}

@media (max-width: 1024px) {
  .button {
    width: 100vw;
    margin: 10px 0;
  }
}
