html {
  box-sizing: border-box;
}

*,
::after::before {
  box-sizing: inherit;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #283839;
  border: 1px solid #767676;
  margin-top: 25px;
  font-family: "Lato", "sans-serif";
}

@media (max-width: 600px) {
  body {
    flex-basis: 80%;
    word-wrap: break-word;
  }
}
